* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background: rgba(196, 196, 196, 0.11);
    backdrop-filter: blur(10px);
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    color: white;
    column-gap: 114px;
}
img.logo {
    width: 80px;
    align-self: flex-start;
    padding-top: 10px;
}
span {
    color: red;
}
p, h2 {
    font-size: 2em;
}
h1 {
    font-size: 6em;
}
nav {
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    background-color: black;
    color: white;
    flex-wrap: wrap;
}
.name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
section.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #1F1F23;
    color: white;
}
aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    height: 280px;
    text-align: justify;
    
    align-self: center;
}
aside > p {
    font-size: 1.5em;
}
.avatar {
    width: 200px;
}
/* .redbar {
    width: 95%;
    height: 5px;
    background-color: red;
    border-radius: 5px;
    align-self: flex-end;
    justify-self: center;
} */
.btn-socialmidia {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 40px;
    margin-top: 20px;
}
button {
    border-radius: 2px;
    color: white;
    width: 220px;
    height: 50px;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    background-color: red;
    background-image: linear-gradient(-60deg, transparent, transparent 40%, rgb(255, 83, 83) 40%, rgb(255, 83, 83) 60%, transparent 60%, transparent 100%);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position-x: 150%;
    border-radius: 2px;
    font-size: 1.5em;
}
button:hover {
    background-position-x: -150%;
    transition: background-position-x 800ms;
    box-shadow: 4px 4px 2px 2px rgba(0, 0, 0, 0.63);
}