@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
   --font1: 'Righteous', cursive;
   --font2: 'Black Ops One', cursive;
   --font3: 'Times New Roman', Times, serif;
   --font4: 'Albert Sans', sans-serif;
}
header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 12vh;
    background: rgba(196, 196, 196, 0.11);
    backdrop-filter: blur(5px);
}
.logo {
    font-family: var(--font2);
    font-size: 3em;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.582);
}
span {
    color: red;
}
p, h2 {
    font-size: 2em;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.774);
    font-family: var(--font4);
}
h1 {
    font-size: 10vh;
    text-shadow: 4px 4px 6px rgb(0 0 0 / 60%);
    font-family: var(--font2);
}
h3 {
    font-size: 8vh;
    text-shadow: 4px 4px 6px rgb(0 0 0 / 60%);
    font-family: var(--font2);
    color: rgba(255, 255, 255, 0.925);
    padding-top: 20px;

}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
}
.nav-list {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    list-style: none;
}
.open-menu {
    display: none;
}
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.925);
}
nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.925);
    font-size: 1.5em;
}
ul a:hover {
    color: red;
    transition: 400ms;
}
.main {
    background: url('../imagens/programing-bg.jpg') center center no-repeat fixed;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
    background-color: black;
    color: white;
    flex-wrap: wrap;
}
.name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
}
.name h1 {
    transition-timing-function: ease-in;
    transition-duration: 2s;
    transition-delay: 200ms;
}
.generica {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}
section.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 90vh;
    background-color: #1F1F23;
    color: white;
}
.conteiner-sobre {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 10px;
}
.conteiner-habilidades {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 20px 10px;
    
}
.conteiner-habilidades > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: justify;
    padding: 10px 20px;
    max-width: 380px;
    min-height: 370px;
    background-color: #2A2B33;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.63);
}
.icon-habilidades {
    width: 80px;
} 
.conteiner-habilidades  p {
    font-size: 1.4em;
}
.conteiner-projetos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 10px;
}
.icon-projeto {
    width: 45vh;
    border-radius: 10px;
}
.icon-projeto:hover {
    transform: translate(-2px, -2px);
}
.conteiner-contato {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 50vh;
    background-color: #1F1F23;
    color: white;
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    min-height: 450px;
    text-align: justify;
    background-color: #2A2B33;    
    align-self: center;
    text-indent: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.63);
}
aside > p {
    font-size: 2em;
    padding: 10px;
}
.animation {
    position: inherit;
    width: 260px;
    height: 260px;
    padding: 10px;
    /* animation-name: animation-spin;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    animation: animation-spin 5s linear infinite normal;
}
.bar {
    width: 95%;
    height: 5px;
    background-color: #DDE2E3;
    border-radius: 5px;
    justify-self: center;
} 
.btn-socialmidia {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 10px;
    margin-top: 20px;
}
button.btn-midia {
    color: white;
    width: 220px;
    height: 50px;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    border: none;
    background-color: red;
    background-image: linear-gradient(-60deg, transparent, transparent 40%, rgb(255, 83, 83) 40%, rgb(255, 83, 83) 60%, transparent 60%, transparent 100%);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position-x: 150%;
    border-radius: 4px;
    font-size: 1.5em;
    font-family: var(--font1);
    font-size: 2em;
}
button.btn-midia:hover {
    background-position-x: -150%;
    transition: background-position-x 800ms;
    box-shadow: 0px 0px 6px 1px rgba(226, 18, 18, 0.63);
}
.icon-social {
    width: 25px;
    border-radius: 5px;
}
footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 5px;
    width: 100%;
    min-height: 80px;
    background-color: #2A2B33;
}
footer > p {
    font-family: var(--font3);
    font-size: 1em;
}
@media (max-width: 730px) {
    header {
        display: none;
    }
    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }
    .open-menu {
        position: fixed;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        background: rgba(196, 196, 196, 0.11);
        backdrop-filter: blur(5px);
    }
    .open-menu a {
        font-size: 1.5em;
    }
    a.logo {
        font-size: 3em;
    }
    .animation {
        width: 200px;
        height: 200px;
    }
    footer {
        padding: 20px 0px;
    }
    .name {
        margin-top: 50px;
    }
}

@media (max-width: 490px) {
    .open-menu a {
        font-size: 1em;
    }
    a.logo {
        font-size: 3em;
}
}
@media (max-width: 350px) {
    .open-menu a {
        font-size: 0.8em;
    }
    a.logo {
        font-size: 3em;
}
}
@keyframes animation-spin {
    0% {
    transform:rotate(0deg);
    }
    100% {
    transform:rotate(360deg);
    }
}