@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
:root {
    --font1: 'Righteous', cursive;
    --font2: 'Black Ops One', cursive;
    --font3: 'Albert Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.932);
    text-decoration: none;
    scroll-behavior: smooth;
}
p {
    font-family: var(--font3);
}
h1 {
    font-size: 8vh;
    font-family: var(--font2);
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.685);
}
body {
    background: black;
}
header {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid white;
    background: rgba(196, 196, 196, 0.11);
    backdrop-filter: blur(5px);
    z-index: 2;
}
strong {
    font-weight: normal;
    font-size: 2.7em;
    font-family: var(--font2);
    transition: 300ms;
}
.name {
    display: flex;
    position: unset;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
}
.name > p  {
    animation: apresentacao .8s ease-in 1.5s forwards;
    color: rgba(255, 255, 255, 0.61); 
    font-size: 2em;
    opacity: 0;
}
.name > h1 {
    animation: apresentacao .8s ease-in .4s forwards;
    font-size: 10vh;
    opacity: 0;
}
span {
    color: red;
}
.btn-socialmidia {
    animation: apresentacao .4s ease-in 2.5s forwards;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 10px;
    margin-top: 20px;
    opacity: 0;
}
.btn-midia {
    color: white;
    width: 220px;
    height: 50px;
    font-weight: bold;
    font-size: 2em;
    cursor: pointer;
    border: none;
    background-color: red;
    background-image: linear-gradient(-60deg, transparent, transparent 40%, rgb(255, 83, 83) 40%, rgb(255, 83, 83) 60%, transparent 60%, transparent 100%);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position-x: 150%;
    border-radius: 4px;
    font-size: 1.5em;
    font-family: var(--font1);
    font-size: 2em;
}
.btn-midia:hover {
    background-position-x: -150%;
    transition: background-position-x 800ms;
    box-shadow: 0px 0px 6px 1px rgba(226, 18, 18, 0.63);
}
.inicio {
    background: url('../imagens/programing-bg.jpg') center center no-repeat fixed;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes apresentacao {
    to {
        opacity: 1;
    }
}