@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
:root {
    --font1: 'Righteous', cursive;
    --font2: 'Black Ops One', cursive;
    --font3: 'Albert Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    text-decoration: none;
    scroll-behavior: smooth;
}
h1 {
    font-size: 8vh;
    font-family: var(--font2);
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.685);
    color: rgba(255, 255, 255, 0.932);
}
strong {
    font-weight: normal;
    font-size: 2.7em;
    font-family: var(--font2);
    transition: 300ms;
}
.name {
    display: flex;
    position: unset;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.932);
}
.name > p  {
    animation: apresentacao .8s ease-in 1.5s forwards;
    color: rgba(255, 255, 255, 0.61); 
    font-size: 2em;
    opacity: 0;
    font-family: var(--font3);
}
.name > h1 {
    animation: apresentacao .8s ease-in .4s forwards;
    font-size: 10vh;
    opacity: 0;
}
span {
    color: red;
}
.btn-socialmidia {
    animation: apresentacao .4s ease-in 2.5s forwards;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 10px;
    margin-top: 20px;
    opacity: 0;
}
.btn-midia {
    width: 220px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: red;
    background-image: linear-gradient(-60deg, transparent, transparent 40%, rgb(255, 83, 83) 40%, rgb(255, 83, 83) 60%, transparent 60%, transparent 100%);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position-x: 150%;
    border-radius: 4px;
    font-size: 1.5em;
    font-family: var(--font1);
    font-size: 2em;
}
.btn-midia > a {
    color: rgba(255, 255, 255, 0.932);
}
.btn-midia:hover {
    background-position-x: -150%;
    transition: background-position-x 800ms;
    box-shadow: 0px 0px 6px 1px rgba(226, 18, 18, 0.63);
}
.inicio {
    background: url('../imagens/programing-bg.jpg') center center no-repeat fixed;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.downpage {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #1D1C1D;
    box-shadow: 0px -7px 7px 0px #00000091;
}
.organizer {
    padding-bottom: 130px;
}
.insta {
    width: 70px;
}
.face {
    width: 38px;
}
.organizer h1{
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.932);
    font-family: var(--font3);
    text-shadow: none;
    padding-bottom: 20px;
}
.organizer p{
    color: rgba(207, 207, 207, 0.89);
    font-family: var(--font3);
    font-size: 1em;
}
.conteiner {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    min-height: 70vh;
    background-color: #322E33;
    border-radius: 6px;
}
.collum-div {
    display: flex;
    flex-direction: row;    
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 62px;
}
.caixa {
    position: relative;
    width: 147px;
    height: 147px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caixa::before, .caixa::after {
    content: '';
    position: absolute;
    z-index: 0;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background: linear-gradient(45deg, #0099ff, #001aff, #a200ff, #ff0055, #ff0000, #0099ff, #001aff, #a200ff, #ff0055, #ff0000);
    background-size: 300%;
    border-radius: 50%;
    animation: spin 15s infinite;

}
.caixa::after {
    filter: blur(8px);
}
.collum-div img {
    width: 200px;
    clip-path: circle(40%);
    z-index: 1;
}
.collum-div h1 {
    color: rgba(255, 255, 255, 0.89);
    font-family: var(--font3);
    font-size: 1.1em;
    text-shadow: none;
    padding-bottom: 40px;
    text-indent: 30px;
}
.collum-div p{
    color: rgba(207, 207, 207, 0.89);
    font-family: var(--font3);
    font-size: 1em;
}
.left-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 60vh;
    width: 50%;
}
.right-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 60vh;
    width: 30%;
}
@keyframes apresentacao {
    to {
        opacity: 1;
    }
}
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}